.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
    color:#f25b6b;
}

.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
    font-size: x-large;
}

.header-logo {
    padding-left: var(--spacing-small);
    color: #f25b6b;
}

.box-search {

}

.header-search {
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
}

.header-search input#search{
    width: 300px;
    height: 30px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header-search input#search::-webkit-input-placeholder {
    color: #65737e;
}

 .header-search input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}

 .header-search input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}

.header-search input#search:-ms-input-placeholder {  
    color: #65737e;  
}

.header-search button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-top-right: 5px;
    -moz-border-radius-bottom-right: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}
