.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
    color:#f25b6b;
}

.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
    font-size: x-large;
}

.header-logo {
    padding-left: var(--spacing-small);
    color: #f25b6b;
}

/*** STYLES ***/
.search {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    margin: 0px 8px 7px 0px;
    padding: 7px 9px 0px 9px;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    transition: all 200ms ease;
    cursor: text;
}


input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    color: inherit;
    background: transparent;
    outline-width: 0px;
}

.search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 21px;
    background: #ffffff;
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: all 200ms ease;
}

.active,
.active:hover {
    width: 200px;
    margin-right: 0px;
    
}

.active:after {
    height: 0px;    
}
