.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
    color:#f25b6b;
}

.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
    font-size: x-large;
}

.header-logo {
    padding-left: var(--spacing-small);
    color: #f25b6b;
}